@import 'color';

.label {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	color: $c-blue-alpha;
	line-height: 1.5;
	margin: 0 0 2px;
}

.field {
	position: relative;
	width: 15em;

  &::after {
  	border: solid $c-blue-alpha;
  	border-width: 0 1px 1px 0;
  	content: '';
  	display: inline-block;
  	height: 8px;
  	margin-top: 3px;
  	padding: 0;
  	pointer-events: none;
  	position: absolute;
  	right: 15px;
  	top: 50%;
  	transform: rotate(45deg);
  	width: 8px;
  }

  &:focus-within::after {
    margin-top: 7px;
    transform: rotate(-135deg);
  }
}

.select {
	appearance: none;
	background: none;
	border: none;
	font-size: 1rem;
	line-height: 1.5;
	padding: 5px;
	border: solid 1px $c-blue-alpha;
	border-radius: 2px;
	width: 15em;
}

.btn {
	position: relative;
  display: block;
  padding: 12px 16px 10px;
  border: none;
  background-color: transparent;
  font-family: lato, Arial, Helvetica Neue, sans-serif;
  font-size: .875rem;
  line-height: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1em 0;

  &:hover:not(:disabled){
    cursor: pointer;
    transition: box-shadow .2s
  }
}

.btn--outline:not(:disabled):hover,
.btn--primary:not(:disabled):hover,
.btn--secondary:not(:disabled):hover {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .4)
}

.btn--primary {
  color: $c-blue-alpha;
  background-color: $c-gold-alpha;
  border-radius: 2px;
  width: 10em;

  &:not(:disabled) {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
  }

  &:not(:disabled):after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, $c-gold-beta 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }

  &:not(:disabled):active:after {
    transform: scale(0);
    opacity: 1;
    transition: 0s
  }

  &:focus,
  &:hover {
    background-color: $c-gold-gamma
  }

  &:active {
    background-color: $c-gold-beta
  }

  &:disabled {
    background-color: $c-gray-alpha
  }

}

.btn--secondary {
  color: $c-gray-delta;
  background-color: $c-blue-alpha;
  border-radius: 2px;
  width: 22em;

  &:not(:disabled) {
    position: relative;
    overflow: hidden;
    transform: translateZ(0)
  }

  &:not(:disabled):after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, $c-gray-beta 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }

  &:not(:disabled):active:after {
    transform: scale(0);
    opacity: 1;
    transition: 0s
  }

  &:focus,
  &:hover {
    background-color: $c-gray-gamma
  }

  &:active {
    background-color: $c-gray-beta
  }

  &:disabled {
    color: $c-blue-alpha;
    background-color: $c-gray-alpha
  }
}